---
import { queryWordPress } from "../lib/wordpress";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const QUERY_ABOUT = `

query Aboutpage {
  page(id: "about", idType: URI) {
    title
    content
    featuredImage {
      node {
        mediaItemUrl
        altText
      }
    }
  }
}

`;

const pagedata = await queryWordPress(QUERY_ABOUT);

const finaldata = pagedata?.page || {};
console.log("bjfjfjejf",finaldata)
const seodata = finaldata?.seo || {};
const aboutUs = finaldata?.aboutUs || {};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead  />
  </head>
  <body>
    <Header />
    <h1>{finaldata?.title}</h1>
    <div set:html={finaldata?.content}></div>
   
    <Footer />
  </body>
</html>
