---
import { queryWordPress } from "../lib/wordpress";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const QUERY_ABOUT = `

query Aboutpage {
  page(id: "about", idType: URI) {
    title
    content
    featuredImage {
      node {
        mediaItemUrl
        altText
      }
    }
    # This must be outside of featuredImage
    pageSettings {
      bannerTitle
      bannerImage {
        node {
          sourceUrl
          altText
        }
      }
    }
  }
}

`;

const pagedata = await queryWordPress(QUERY_ABOUT);
const finaldata = pagedata?.page || {};

console.log(finaldata)

// Destructure the ACF fields
const { bannerTitle, bannerImage } = finaldata?.pageSettings || {};

// Use ACF title if it exists, otherwise use the WordPress page title
const displayTitle = bannerTitle || finaldata?.title;

// Use ACF image if it exists, otherwise use a fallback
const displayImage = bannerImage || "/assets/images/greenforest.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <section
      class="banner-section home"
      style={`background-image: url(${displayImage?.node?.sourceUrl});`}
    >
      <div class="container">
        <div class="banner-content">
          <h1 class="main-title">{displayTitle}</h1>
        </div>
      </div>
    </section>
    
    <div class="container my-5">
      <div set:html={finaldata?.content} />
    </div>

    <Footer />
  </body>
</html>
