---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

// We destructure the props so we can pass titles/descriptions from each page
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot /> </main>
  </body>
</html>